@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@300&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@300&family=Nunito+Sans:wght@300&family=Oswald&family=Raleway:ital,wght@1,100&family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;1,400&display=swap');

:root {
     --main-bg-color: brown;
     --font1: 'Roboto', sans-serif;
     --font2: 'Montserrat', sans-serif;
     --font3: 'Nunito Sans';
     --font4: 'Oswald';
}

.max-width-m1 {
     width: 80vw;
}

.max-width-m2 {
     width: 70vw
}

.m-auto {
     margin: auto;
}
.my-m{
 margin-top: 12px;
 margin-bottom: 12px;
}

span {
     font-family: var(--font2);
     font-size: larger;
     font-weight: bold;
     margin-right: 30px;
}

.form-control {
     font-family: var(--font2);
     font-size: larger;
     border: 2px solid black;
     border-radius: 4px;
     margin: 4px;
     height: 5vh;
     text-align: center;
     width: 16vw;
}

.btn {
     cursor: pointer;
     font-family: var(--font2);
     font-size: large;
     border: 2px solid black;
     border-radius: 3px;
     padding: 0px 5px;
     width: 5vw;
     height: 4vh;
     transition: all .80s ease-in-out;

}

.btn:hover {
     background-color: blue;
     color: antiquewhite;

}

.content-left h1 {
     font-family: var(--font1);
     font-weight: bolder;
}

.content-left p {
     font-family: var(--font2);
     font-weight: bold;
     margin: 20px 5px;
}

.content-right img {
     border: 2px solid black;
     border-radius: 55px;
     width: 21vw;

}

hr {
     background-color: black;
     height: 1px;
     width: 65vw;
     margin: auto;

}

.footer-logo {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-top: 24px;
     font-size: xx-large;
}

.footer-logo a {
     padding: 10px;
}

.footer-logo a ion-icon:hover {


     transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.footer-logo a ion-icon {
     color: orange;
}

.home-articles h3 {
     font-family: var(--font2);
     font-size: xx-large;
     margin-top: 7px;
     margin-bottom: 10vh;

}

.home-article .article-img img {
     height: 200px;
     /* border: 2px solid black; */
     /* border-radius: 149px; */
}
.home-article .article-content a{
     color: black;
     text-decoration: none;
}
.home-article .article-content a h2{
     font-family:var(--font3);
     font-size: x-large;
     margin-bottom: 0px;
     
}
.home-article .article-content span{
     font-family: var(--font1);
     font-size: small;
     margin: 0px 15px;
}
.article-content p{
     font-family: var(--font2);
     font-weight: bold;
     margin-top: 10px;
     padding: 0px 12px;
}